<!DOCTYPE html>
<html>
<head>
    {% block head %}
    {% block title %}{% endblock %}
    {% endblock %}
</head>
<body>
<p> This is the home page for all dashboards assigned via different roles. To access each page, add to the url:
    <li>Student - /student/dashbaord</li>
    <li>Student Worker - /student_worker/dashboard</li>
    <li>Faculty - /faculty/dashboard</li>
    <li>Department Head - dept_head/dashbaord</li>
<li>Admint - /admin/dashboard</li>
</p>
{% block body %}{% endblock %}
</body>
</html>
